<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Header.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{50,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,40}}</string>
                <key>sourceSize</key>
                <string>{50,40}</string>
            </dict>
            <key>Pause.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,86},{44,43}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{44,43}}</string>
                <key>sourceSize</key>
                <string>{44,51}</string>
            </dict>
            <key>bulletx_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,128},{44,34}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,18},{44,34}}</string>
                <key>sourceSize</key>
                <string>{48,60}</string>
            </dict>
            <key>bulletx_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,128},{44,34}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,18},{44,34}}</string>
                <key>sourceSize</key>
                <string>{48,60}</string>
            </dict>
            <key>bulletx_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,204},{44,34}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,18},{44,34}}</string>
                <key>sourceSize</key>
                <string>{48,60}</string>
            </dict>
            <key>bulletx_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,204},{44,34}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,18},{44,34}}</string>
                <key>sourceSize</key>
                <string>{48,60}</string>
            </dict>
            <key>bulletx_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{44,34}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,18},{44,34}}</string>
                <key>sourceSize</key>
                <string>{48,60}</string>
            </dict>
            <key>bulletx_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{44,34}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,18},{44,34}}</string>
                <key>sourceSize</key>
                <string>{48,60}</string>
            </dict>
            <key>bulletx_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,168},{44,34}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,18},{44,34}}</string>
                <key>sourceSize</key>
                <string>{48,60}</string>
            </dict>
            <key>bulletx_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{44,34}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,17},{44,34}}</string>
                <key>sourceSize</key>
                <string>{48,60}</string>
            </dict>
            <key>coinx_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,86},{48,40}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{48,40}}</string>
                <key>sourceSize</key>
                <string>{48,60}</string>
            </dict>
            <key>coinx_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,86},{46,40}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,11},{46,40}}</string>
                <key>sourceSize</key>
                <string>{48,60}</string>
            </dict>
            <key>coinx_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,130},{44,40}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,11},{44,40}}</string>
                <key>sourceSize</key>
                <string>{48,60}</string>
            </dict>
            <key>coinx_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,86},{46,40}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,11},{46,40}}</string>
                <key>sourceSize</key>
                <string>{48,60}</string>
            </dict>
            <key>coinx_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,44},{48,40}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{48,40}}</string>
                <key>sourceSize</key>
                <string>{48,60}</string>
            </dict>
            <key>coinx_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,88},{46,42}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,9},{46,42}}</string>
                <key>sourceSize</key>
                <string>{48,60}</string>
            </dict>
            <key>coinx_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,128},{44,42}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,9},{44,42}}</string>
                <key>sourceSize</key>
                <string>{48,60}</string>
            </dict>
            <key>coinx_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,88},{46,40}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,10},{46,40}}</string>
                <key>sourceSize</key>
                <string>{48,60}</string>
            </dict>
            <key>timer_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,44},{48,40}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{48,40}}</string>
                <key>sourceSize</key>
                <string>{48,60}</string>
            </dict>
            <key>timer_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,46},{48,40}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{48,40}}</string>
                <key>sourceSize</key>
                <string>{48,60}</string>
            </dict>
            <key>timer_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,44},{48,40}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{48,40}}</string>
                <key>sourceSize</key>
                <string>{48,60}</string>
            </dict>
            <key>timer_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,2},{48,40}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{48,40}}</string>
                <key>sourceSize</key>
                <string>{48,60}</string>
            </dict>
            <key>timer_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{48,40}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{48,40}}</string>
                <key>sourceSize</key>
                <string>{48,60}</string>
            </dict>
            <key>timer_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,44},{48,42}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{48,42}}</string>
                <key>sourceSize</key>
                <string>{48,60}</string>
            </dict>
            <key>timer_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,2},{48,42}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{48,42}}</string>
                <key>sourceSize</key>
                <string>{48,60}</string>
            </dict>
            <key>timer_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{48,40}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{48,40}}</string>
                <key>sourceSize</key>
                <string>{48,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gameui.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5b8b949a93b3516b1a07daacd69b61e1$</string>
            <key>textureFileName</key>
            <string>gameui.png</string>
        </dict>
    </dict>
</plist>
