<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1000,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1000,480}}</string>
                <key>sourceSize</key>
                <string>{1000,480}</string>
            </dict>
            <key>Flag.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,875},{51,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,46}}</string>
                <key>sourceSize</key>
                <string>{51,46}</string>
            </dict>
            <key>RainBow.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,484},{292,399}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,399}}</string>
                <key>sourceSize</key>
                <string>{294,399}</string>
            </dict>
            <key>Tip.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,885},{102,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,41}}</string>
                <key>sourceSize</key>
                <string>{102,41}</string>
            </dict>
            <key>b.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,610},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>b1_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,568},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>b1_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,526},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>b1_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,484},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>b1_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,974},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>b1_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,932},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>b1_2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,890},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>b1_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,848},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>b1_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,806},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>b1_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,764},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>b1_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,684},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>b1_3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,806},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>b1_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,764},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>b1_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,686},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>b1_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,610},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>b1_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,568},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>b2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,526},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>b2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,484},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>b2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,959},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>b2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,917},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>b2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,959},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>bullet_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,836},{30,36}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{30,36}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>bullet_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,798},{30,36}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{30,36}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>bullet_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,620},{30,30}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{30,30}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>bullet_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,728},{34,36}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{34,36}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>bullet_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,798},{30,36}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{30,36}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>bullet_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,798},{30,36}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{30,36}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>bullet_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,760},{30,36}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{30,36}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>bullet_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,722},{30,36}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{30,36}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>bullet_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,684},{30,36}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{30,36}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>bullet_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,652},{30,36}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,1},{30,36}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>bullet_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,520},{34,34}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{34,34}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>bullet_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,484},{34,34}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{34,34}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>coin_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,728},{34,36}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{34,36}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>coin_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,726},{30,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{30,36}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>coin_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,588},{30,30}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{30,30}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>coin_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,928},{34,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{34,36}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>coin_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,849},{24,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,2},{24,36}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>coin_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,726},{30,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{30,36}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>coin_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,928},{34,36}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{34,36}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>coin_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,652},{30,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{30,36}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>coin_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,849},{24,36}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,2},{24,36}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>coin_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,652},{30,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{30,36}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>coin_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{537,982},{34,34}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{34,34}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>coin_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{537,946},{34,34}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{34,34}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>player_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,686},{50,77}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,10},{50,77}}</string>
                <key>sourceSize</key>
                <string>{66,97}</string>
            </dict>
            <key>player_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,885},{50,77}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,10},{50,77}}</string>
                <key>sourceSize</key>
                <string>{66,97}</string>
            </dict>
            <key>player_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,966},{54,77}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,8},{54,77}}</string>
                <key>sourceSize</key>
                <string>{66,97}</string>
            </dict>
            <key>player_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,885},{50,77}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{50,77}}</string>
                <key>sourceSize</key>
                <string>{66,97}</string>
            </dict>
            <key>player_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,885},{48,79}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,9},{48,79}}</string>
                <key>sourceSize</key>
                <string>{66,97}</string>
            </dict>
            <key>player_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,964},{54,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,11},{54,75}}</string>
                <key>sourceSize</key>
                <string>{66,97}</string>
            </dict>
            <key>player_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,885},{48,79}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,8},{48,79}}</string>
                <key>sourceSize</key>
                <string>{66,97}</string>
            </dict>
            <key>player_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,966},{56,77}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,8},{56,77}}</string>
                <key>sourceSize</key>
                <string>{66,97}</string>
            </dict>
            <key>player_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,885},{54,79}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{54,79}}</string>
                <key>sourceSize</key>
                <string>{66,97}</string>
            </dict>
            <key>pot_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,875},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>pot_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,917},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>pot_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,556},{30,30}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{30,30}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>pot_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{537,910},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{34,34}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>pot_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,917},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>pot_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,875},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>pot_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,807},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>pot_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,765},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>pot_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,964},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>pot_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,964},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>pot_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,652},{36,32}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{36,32}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>pot_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,874},{34,34}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{34,34}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>water_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,484},{200,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,40}}</string>
                <key>sourceSize</key>
                <string>{200,40}</string>
            </dict>
            <key>worm_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,765},{54,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,32}}</string>
                <key>sourceSize</key>
                <string>{54,32}</string>
            </dict>
            <key>worm_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,964},{54,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,32}}</string>
                <key>sourceSize</key>
                <string>{54,32}</string>
            </dict>
            <key>worm_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,821},{52,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{52,32}}</string>
                <key>sourceSize</key>
                <string>{54,32}</string>
            </dict>
            <key>worm_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,989},{54,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,32}}</string>
                <key>sourceSize</key>
                <string>{54,32}</string>
            </dict>
            <key>worm_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,2},{54,16}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,14},{54,16}}</string>
                <key>sourceSize</key>
                <string>{54,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gamescene.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:97d5999ece48ce0042505f26e62bd704$</string>
            <key>textureFileName</key>
            <string>gamescene.png</string>
        </dict>
    </dict>
</plist>
